body{
  background-color:#86A397;
  color: rgb(126, 71, 27);
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

input{
  height: 28px;
  padding: auto;
  border-style: none;
  border-radius: 5px;
}

button{
  padding: auto;
  width: 100px;
  height: 30px;
  font-size: 10x;
  color: rgb(211, 112, 129);
  border-radius: 5px;
  border-style: dotted;
  cursor: pointer;
}
